* {
    font-family:"Verdana", "Geneva", "Tahoma", sans-serif;
    text-align: center;
}

body {
    background-image: url("img/cooking.gif");
}

img {
    border-radius: 40%;
    max-width: 500px;
    max-height: auto;
}

ul {
    list-style: none;
}


ol li {
    text-align: left;
}

a {
    text-decoration: none;
}

.recipe-name {
font-size: 20px;
}